/* Universal Site CSS */
header {
    margin: 0; 
    padding: 0; 
}

body {
    background-image: url("https://cdn.wallpapersafari.com/81/64/tHwYWI.jpg");
    background-size: cover; 
    background-attachment: fixed;
}

main{
    max-width: 85%;
    margin: auto;
    padding: 0 2em; 
    background-color: rgba(173, 209, 175, 0.77);
}

footer{
    margin: 15px 0; 
}

h1, h2, h3{
    font-family: 'Fredoka One', cursive;
}

p, ul{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 5px; 
}

h3{
    text-align: center;
    margin: 10px;
}

.sub-page-img{
    float: left; 
    clear: both;
    max-width: 45%; 
    margin: 5px 15px 10px 0px; 
}

/* Main Desktop Nav Bar CSS */
nav#main-nav ul, nav#footer-nav ul {
    display: flex; 
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 30px 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

nav#main-nav ul li a {
    text-decoration: none;
    display: inline-block; 
    padding: 0.3em 2em; 
    margin: 0 10px; 
    font-size: 24px;
    background-color: #FFFCDC;
    border-radius: 25px;
    text-align: center;
    color: #447247; 
}

nav#main-nav ul li a:hover {
    background-color: #eae5b5;
    transition: all 0.5s; 
}

nav#main-nav ul li a:visited {
    /* background-color: #eae5b5; */
    transition: all 0.5s; 
    color: rgb(122, 24, 122);
}

/* Main Mobile Nav CSS */

#drawer {		
    position: relative;
    top: 2%;
    left: 10px;
    width: 100%;
    height: auto;
}

#drawer button.controls {		
    position: relative;
    top: 2%;
    left: 37.5%;
    height: auto;
    width: 25%;
    margin: auto;
    background-color: #eae5b5;
    border: 2px solid black;
    border-radius: 25px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    padding: 0.75%;
    color: #447247;
}

#drawer .contents {
    display: none; 
}

#drawer.open .contents {	
    display: block;		
    width: 25%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #eae5b5;
    position: fixed; 
    top: 10%;
    left: 37.5%;
    height: auto;
}

#drawer .contents .mobile-nav{
    padding: 0; 
    width: 85%; 
    margin: auto; 
    text-align: center;
}

#drawer .contents .mobile-nav li {		
    list-style: none;
    margin: 2%;
    width: 75%; 
    margin: auto; 
    padding: 3%;
}

#drawer .contents .mobile-nav li a {
    text-decoration: underline;
    font-family: 'Fredoka One', cursive;
    justify-content: center;
    color:#447247; 
}

/* Home Page CSS */
#intro-imgs {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
    margin: auto;
    max-width: 100%; 
}

#intro-imgs img{
    max-width: 350px;
    height: 350px;
    margin: 6px;
}

#home-page-title{
    font-size: 75px;
    margin: 30px; 
}

/* Nav to Other Pages from Home */
.pages-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    width: 100%;
}

.pages-grid{
    text-align: center;
    max-width: 50%;
    margin: 35px auto;
    justify-content: center;
}

.pages-grid img{
    max-width: 100%;
    max-height: auto;
}

.img-pages-btn img{
    box-shadow: 5px 5px 5px #FFFCDC;
}
.img-pages-btn img:hover{
    transform: scale(1.05);
}

.learn-more-button{
    background-color: #FFFCDC;
    max-width: 45%;
    padding: 5px 0px; 
    margin: auto;
    border: black solid 2px;
    border-radius: 25px;
    font-weight: bold;
}

.learn-more-button a{
    color: black;
    text-decoration: none;
}

.learn-more-button:hover{
    transform: scale(1.05);
}

/* History Page CSS */

#comparison-spaniels{
    float: right; 
}

/* Personality Page CSS */

#characteristics-ratings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

#characteristics-ratings li{
    margin-bottom: 0.8em; 
}

.rating img{
    max-width: 10%;
}

.sixtyp-rating:nth-child(4), .sixtyp-rating:last-child{
    opacity: 0.5;
}

#bright-cavalier-jumping{
    float: right; 
}

/* Physical Traits Page CSS */

.four-colors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.coat-color{
    margin-right: 25px; 
}

/* Footer CSS */
nav#footer-nav{
    clear: both; 
}

nav#footer-nav ul li a{ 
    text-decoration: none;
    display: inline-block; 
    padding: 0.3em 2em; 
    margin: 0 10px;
    font-size: 14px; 
    background-color: #8fb491;
    border-radius: 20px;
}

nav#footer-nav ul li a:hover{
    background-color: #c5ebc7;
    transition: all 0.5s;
}

nav#footer-nav ul li a:visited{
    /* background-color: #759576; */
    color: rgb(122, 24, 122);
}


#footer-info{
    text-align: center;
    font-size: 12px;
}

/* start of Tablet Styles */
    @media (max-width: 768px) {
        body{
            background-size: contain;
            margin-top: 3%;
        }

        #intro-imgs img{
            max-width: 95%;
            height: auto;
        }

        #home-page-title{
            font-size: 40px;
            margin: 10px;
        }

        #main-nav{
            display: none;
        }

    }

    @media (min-width: 769px) {
        /* hide mobile main nav on desktop */
        .hide-on-desktop{
            display: none;
        }
    }


/* start of Mobile Styles */
    @media (max-width: 425px) {
        body{
            background-size: cover;
            margin-top: 5%;
        }

        main{
            max-width: 100%;
        }

        #home-page-title{
            font-size: 40px;
        }
        
        .pages-nav{
            display: inline-block;
        }

        .pages-grid{
            max-width: 100%;
            margin: 15% auto;
        }

        #intro-imgs img{
            max-width: 95%;
            height: auto;
        }

        .four-colors{
            display: inline-block;
        }

        nav#main-nav ul, nav#footer-nav ul{
            display: inline-block;
        }

        nav#main-nav ul li, nav#footer-nav ul li{
            margin: 5%;
        }

        #drawer.open .contents{
            width: 50%;
            left: 25%;
        }

        #drawer .contents .mobile-nav{
            width: 75%; 
        }

        #footer-nav ul{
            width: 100%; 
        }

        #footer-info{
            background-color: rgba(173, 209, 175, 0.85);
        }
    }
